In [1]:
import graphlab as gl

In [2]:
import pandas as pd

In [3]:
# reading user data:
user_cols = ['userID', 'Coding skills', 'Social skills', 'Language skills', 'program development',
             'FrontEnd development', 'BackEnd Development', 'Fullstack', 'Mobile Development', 'Web Development',
             'UI/UX', 'Good', 'Average', 'Bad', 'salary']

In [4]:
users = pd.read_csv('users.csv', sep=',', names=user_cols, encoding='latin-1')

In [5]:
print users.shape
users.head()

(964, 15)

,userID,Coding skills,Social skills,Language skills,program development,FrontEnd development,BackEnd Development,Fullstack,Mobile Development,Web Development,UI/UX,Good,Average,Bad,salary
0,UID01,1,1,0,0,0,0,0,0,0,1,0,1,0,15 000
1,UID02,0,1,0,0,0,0,0,1,0,0,1,0,0,15 000
2,UID03,1,0,0,0,0,0,0,0,0,0,1,0,0,30 000
3,UID04,1,0,0,1,0,0,0,1,1,0,1,0,0,30 000
4,UID05,1,0,0,0,0,0,0,0,0,0,0,1,0,10 000

In [6]:
# reading company data:
company_cols=['CompanyName', 'CompanyID']

In [7]:
company=pd.read_csv('company.csv', sep=',', names=company_cols, encoding='latin-1')

In [8]:
print company.shape
company.head()

(18, 2)

         CompanyName CompanyID
0            Virtusa     CID01
1         Sysco Labs     CID02
2               WSO2     CID03
3            Synopys     CID04
4  attune Consulting     CID05

In [9]:
# reading the ratings data:
rating_cols=['userID','CompanyID','DegreeID','rating']
ratings=pd.read_csv('ratings.csv',sep=',', names=rating_cols, encoding='latin-1')

In [10]:
print ratings.shape
ratings.head()

(964, 4)

  userID CompanyID DegreeID  rating
0  UID01     CID01    DID01       3
1  UID02     CID01    DID01       4
2  UID03     CID04    DID02       4
3  UID04     CID04    DID01       4
4  UID05     CID01    DID02       3

In [11]:
user_side_data=gl.SFrame(users)

This non-commercial license of GraphLab Create for academic use is assigned to w1673749@my.westminster.ac.uk and will expire on March 15, 2021.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\JANITH\AppData\Local\Temp\graphlab_server_1584705702.log.0

In [12]:
train_data=gl.SFrame(ratings)

In [13]:
model=gl.item_similarity_recommender.create(train_data, user_id='userID', item_id='CompanyID', target='rating', similarity_type='pearson')

Recsys training: model = item_similarity

Warning: Ignoring columns DegreeID;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 964 observations with 964 users and 19 items.

    Data prepared in: 0.005984s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 15.853ms                       | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 31.308ms                            | 0                | 0               |

| 32.298ms                            | 100              | 19              |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 1.04639s

In [14]:
results=model.recommend(users=range(1,6),k=5)
results.print_rows(num_rows=25)

+--------+-----------+----------------+------+
| userID | CompanyID |     score      | rank |
+--------+-----------+----------------+------+
|   1    |   CID07   |      1.0       |  1   |
|   1    |   CID03   | 0.978369384359 |  2   |
|   1    |   CID02   | 0.904224666207 |  3   |
|   1    |   CID14   | 0.837858887669 |  4   |
|   1    |   CID04   | 0.780814027902 |  5   |
|   2    |   CID07   |      1.0       |  1   |
|   2    |   CID03   | 0.978369384359 |  2   |
|   2    |   CID02   | 0.904224666207 |  3   |
|   2    |   CID14   | 0.837858887669 |  4   |
|   2    |   CID04   | 0.780814027902 |  5   |
|   3    |   CID07   |      1.0       |  1   |
|   3    |   CID03   | 0.978369384359 |  2   |
|   3    |   CID02   | 0.904224666207 |  3   |
|   3    |   CID14   | 0.837858887669 |  4   |
|   3    |   CID04   | 0.780814027902 |  5   |
|   4    |   CID07   |      1.0       |  1   |
|   4    |   CID03   | 0.978369384359 |  2   |
|   4    |   CID02   | 0.904224666207 |  3   |
|   4    |   CID14   | 0.837858887669 |  4   |
|   4    |   CID04   | 0.780814027902 |  5   |
|   5    |   CID07   |      1.0       |  1   |
|   5    |   CID03   | 0.978369384359 |  2   |
|   5    |   CID02   | 0.904224666207 |  3   |
|   5    |   CID14   | 0.837858887669 |  4   |
|   5    |   CID04   | 0.780814027902 |  5   |
+--------+-----------+----------------+------+
[25 rows x 4 columns]

In [16]:
model=gl.item_similarity_recommender.create(train_data, user_id='userID', item_id='CompanyID', target='rating', similarity_type='cosine')

Recsys training: model = item_similarity

Warning: Ignoring columns DegreeID;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 964 observations with 964 users and 19 items.

    Data prepared in: 0.006981s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 0us                            | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 2.992ms                             | 0                | 0               |

| 4.986ms                             | 100              | 19              |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.02294s

In [17]:
results=model.recommend(users=range(1,6),k=5)
results.print_rows(num_rows=25)

+--------+-----------+----------------+------+
| userID | CompanyID |     score      | rank |
+--------+-----------+----------------+------+
|   1    |   CID07   |      1.0       |  1   |
|   1    |   CID03   | 0.978369384359 |  2   |
|   1    |   CID02   | 0.904224666207 |  3   |
|   1    |   CID14   | 0.837858887669 |  4   |
|   1    |   CID04   | 0.780814027902 |  5   |
|   2    |   CID07   |      1.0       |  1   |
|   2    |   CID03   | 0.978369384359 |  2   |
|   2    |   CID02   | 0.904224666207 |  3   |
|   2    |   CID14   | 0.837858887669 |  4   |
|   2    |   CID04   | 0.780814027902 |  5   |
|   3    |   CID07   |      1.0       |  1   |
|   3    |   CID03   | 0.978369384359 |  2   |
|   3    |   CID02   | 0.904224666207 |  3   |
|   3    |   CID14   | 0.837858887669 |  4   |
|   3    |   CID04   | 0.780814027902 |  5   |
|   4    |   CID07   |      1.0       |  1   |
|   4    |   CID03   | 0.978369384359 |  2   |
|   4    |   CID02   | 0.904224666207 |  3   |
|   4    |   CID14   | 0.837858887669 |  4   |
|   4    |   CID04   | 0.780814027902 |  5   |
|   5    |   CID07   |      1.0       |  1   |
|   5    |   CID03   | 0.978369384359 |  2   |
|   5    |   CID02   | 0.904224666207 |  3   |
|   5    |   CID14   | 0.837858887669 |  4   |
|   5    |   CID04   | 0.780814027902 |  5   |
+--------+-----------+----------------+------+
[25 rows x 4 columns]