In [1]:
import graphlab as gl

In [2]:
import pandas as pd

In [3]:
# reading user data:
user_cols = ['userID', 'Coding skills', 'Social skills', 'Language skills', 'program development',
             'FrontEnd development', 'BackEnd Development', 'Fullstack', 'Mobile Development', 'Web Development',
             'UI/UX', 'Good', 'Average', 'Bad', 'salary']

In [4]:
users = pd.read_csv('users.csv', sep=',', names=user_cols, encoding='latin-1')

In [5]:
print users.shape
users.head()

(964, 15)

,userID,Coding skills,Social skills,Language skills,program development,FrontEnd development,BackEnd Development,Fullstack,Mobile Development,Web Development,UI/UX,Good,Average,Bad,salary
0,UID01,1,1,0,0,0,0,0,0,0,1,0,1,0,15 000
1,UID02,0,1,0,0,0,0,0,1,0,0,1,0,0,15 000
2,UID03,1,0,0,0,0,0,0,0,0,0,1,0,0,30 000
3,UID04,1,0,0,1,0,0,0,1,1,0,1,0,0,30 000
4,UID05,1,0,0,0,0,0,0,0,0,0,0,1,0,10 000

In [6]:
# reading company data:
company_cols=['CompanyName', 'CompanyID']

In [7]:
company=pd.read_csv('company.csv', sep=',', names=company_cols, encoding='latin-1')

In [8]:
print company.shape
company.head()

(18, 2)

         CompanyName CompanyID
0            Virtusa     CID01
1         Sysco Labs     CID02
2               WSO2     CID03
3            Synopys     CID04
4  attune Consulting     CID05

In [9]:
# reading the ratings data:
rating_cols=['userID','CompanyID','DegreeID','rating']
ratings=pd.read_csv('ratings.csv',sep=',', names=rating_cols, encoding='latin-1')

In [10]:
print ratings.shape
ratings.head()

(964, 4)

  userID CompanyID DegreeID  rating
0  UID01     CID01    DID01       3
1  UID02     CID01    DID01       4
2  UID03     CID04    DID02       4
3  UID04     CID04    DID01       4
4  UID05     CID01    DID02       3

In [11]:
user_side_data=gl.SFrame(users)

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\JANITH\AppData\Local\Temp\graphlab_server_1584695092.log.0

This non-commercial license of GraphLab Create for academic use is assigned to w1673749@my.westminster.ac.uk and will expire on March 15, 2021.

In [12]:
train_data=gl.SFrame(ratings)

In [13]:
popularity_model = gl.popularity_recommender.create(train_data, user_id='userID', item_id='CompanyID', target='rating', user_data=user_side_data)

Recsys training: model = popularity

Warning: Ignoring columns DegreeID;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 964 observations with 964 users and 19 items.

    Data prepared in: 0.032912s

964 observations to process; with 19 unique items.

In [14]:
popularity_recomm = popularity_model.recommend(users=range(1,6),k=5)
popularity_recomm.print_rows(num_rows=25)

+--------+-----------+---------------+------+
| userID | CompanyID |     score     | rank |
+--------+-----------+---------------+------+
|   1    |   CID07   |  4.7619047619 |  1   |
|   1    |   CID03   |      4.7      |  2   |
|   1    |   CID02   | 4.48780487805 |  3   |
|   1    |   CID14   | 4.29787234043 |  4   |
|   1    |   CID04   | 4.13461538462 |  5   |
|   2    |   CID07   |  4.7619047619 |  1   |
|   2    |   CID03   |      4.7      |  2   |
|   2    |   CID02   | 4.48780487805 |  3   |
|   2    |   CID14   | 4.29787234043 |  4   |
|   2    |   CID04   | 4.13461538462 |  5   |
|   3    |   CID07   |  4.7619047619 |  1   |
|   3    |   CID03   |      4.7      |  2   |
|   3    |   CID02   | 4.48780487805 |  3   |
|   3    |   CID14   | 4.29787234043 |  4   |
|   3    |   CID04   | 4.13461538462 |  5   |
|   4    |   CID07   |  4.7619047619 |  1   |
|   4    |   CID03   |      4.7      |  2   |
|   4    |   CID02   | 4.48780487805 |  3   |
|   4    |   CID14   | 4.29787234043 |  4   |
|   4    |   CID04   | 4.13461538462 |  5   |
|   5    |   CID07   |  4.7619047619 |  1   |
|   5    |   CID03   |      4.7      |  2   |
|   5    |   CID02   | 4.48780487805 |  3   |
|   5    |   CID14   | 4.29787234043 |  4   |
|   5    |   CID04   | 4.13461538462 |  5   |
+--------+-----------+---------------+------+
[25 rows x 4 columns]

In [15]:
popularity_model['user_side_data_column_names']

['userID',
 'Coding skills',
 'Social skills',
 'Language skills',
 'program development',
 'FrontEnd development',
 'BackEnd Development',
 'Fullstack',
 'Mobile Development',
 'Web Development',
 'UI/UX',
 'Good',
 'Average',
 'Bad',
 'salary']

In [20]:
popularity_model.summary()

Class                            : PopularityRecommender

Schema
------
User ID                          : userID
Item ID                          : CompanyID
Target                           : rating
Additional observation features  : 0
User side features               : ['userID', 'Coding skills', 'Social skills', 'Language skills', 'program development', 'FrontEnd development', 'BackEnd Development', 'Fullstack', 'Mobile Development', 'Web Development', 'UI/UX', 'Good', 'Average', 'Bad', 'salary']
Item side features               : []

Statistics
----------
Number of observations           : 964
Number of users                  : 964
Number of items                  : 19

Training summary
----------------
Training time                    : 0.001

Model Parameters
----------------
Model class                      : PopularityRecommender

In [21]:
new_user_info=gl.SFrame({'userID' :['UID966'], 'Coding skills' :['1'], 'Social skills' :['1'], 'Language skills' :['1'],
                        'program development' :['1'], 'FrontEnd development' :['0'], 'BackEnd Development' :['0'],
                        'Fullstack' :['1'], 'Mobile Development' :['1'], 'Web Development' :['0'], 'UI/UX' :['1'],
                        'Good' :['0'], 'Average' :['1'], 'Bad' :['0'], 'salary' :['15 000']})

In [22]:
recommendations = popularity_model.recommend(['UID966'],
                                        new_user_data = new_user_info , k=5)

In [23]:
recommendations.print_rows(num_rows=25)

+--------+-----------+---------------+------+
| userID | CompanyID |     score     | rank |
+--------+-----------+---------------+------+
| UID966 |   CID07   |  4.7619047619 |  1   |
| UID966 |   CID03   |      4.7      |  2   |
| UID966 |   CID02   | 4.48780487805 |  3   |
| UID966 |   CID14   | 4.29787234043 |  4   |
| UID966 |   CID04   | 4.13461538462 |  5   |
+--------+-----------+---------------+------+
[5 rows x 4 columns]

In [24]:
popularity_model.save("My popularityModel")