In [1]:
import graphlab as gl

import pandas as pd

# reading user data:
user_cols = ['userID', 'Coding skills', 'Social skills', 'Language skills', 'program development',
             'FrontEnd development', 'BackEnd Development', 'Fullstack', 'Mobile Development', 'Web Development',
             'UI/UX', 'Good', 'Average', 'Bad', 'salary','degree']

users = pd.read_csv('users.csv', sep=',', names=user_cols, encoding='latin-1')

In [2]:
print users.shape
users.head()

(964, 16)

,userID,Coding skills,Social skills,Language skills,program development,FrontEnd development,BackEnd Development,Fullstack,Mobile Development,Web Development,UI/UX,Good,Average,Bad,salary,degree
0,UID01,1,1,0,0,0,0,0,0,0,1,0,1,0,15 000,DID01
1,UID02,0,1,0,0,0,0,0,1,0,0,1,0,0,15 000,DID01
2,UID03,1,0,0,0,0,0,0,0,0,0,1,0,0,30 000,DID02
3,UID04,1,0,0,1,0,0,0,1,1,0,1,0,0,30 000,DID01
4,UID05,1,0,0,0,0,0,0,0,0,0,0,1,0,10 000,DID02

In [3]:
# reading company data:
company_cols=['CompanyName', 'CompanyID']

company=pd.read_csv('company.csv', sep=',', names=company_cols, encoding='latin-1')

print company.shape
company.head()

(18, 2)

         CompanyName CompanyID
0            Virtusa     CID01
1         Sysco Labs     CID02
2               WSO2     CID03
3            Synopys     CID04
4  attune Consulting     CID05

In [4]:
# reading the ratings data:
rating_cols=['userID','CompanyID','rating']
ratings=pd.read_csv('ratings.csv',sep=',', names=rating_cols, encoding='latin-1')

print ratings.shape
ratings.head()

(769, 3)

  userID CompanyID  rating
0  UID01     CID01       3
1  UID02     CID01       4
2  UID03     CID04       4
3  UID04     CID04       4
4  UID05     CID01       3

In [5]:
user_side_data=gl.SFrame(users)

This non-commercial license of GraphLab Create for academic use is assigned to w1673749@my.westminster.ac.uk and will expire on March 15, 2021.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\JANITH\AppData\Local\Temp\graphlab_server_1587540314.log.0

In [6]:
train_data=gl.SFrame(ratings)

In [7]:
rankfactmodel=gl.recommender.ranking_factorization_recommender.create(train_data, user_id='userID', item_id='CompanyID', target='rating', user_data=user_side_data)

Recsys training: model = ranking_factorization_recommender

Preparing data set.

    Data has 769 observations with 964 users and 17 items.

    Data prepared in: 0.027925s

Training ranking_factorization_recommender for recommendations.

+--------------------------------+--------------------------------------------------+----------+

| Parameter                      | Description                                      | Value    |

+--------------------------------+--------------------------------------------------+----------+

| num_factors                    | Factor Dimension                                 | 32       |

| regularization                 | L2 Regularization on Factors                     | 1e-009   |

| solver                         | Solver used for training                         | adagrad  |

| linear_regularization          | L2 Regularization on Linear Coefficients         | 1e-009   |

| ranking_regularization         | Rank-based Regularization Weight                 | 0.25     |

| side_data_factorization        | Assign Factors for Side Data                     | True     |

| max_iterations                 | Maximum Number of Iterations                     | 25       |

+--------------------------------+--------------------------------------------------+----------+

  Optimizing model using SGD; tuning step size.

  Using 769 / 769 points for tuning the step size.

+---------+-------------------+------------------------------------------+

| Attempt | Initial Step Size | Estimated Objective Value                |

+---------+-------------------+------------------------------------------+

| 0       | 2.94118           | Not Viable                               |

| 1       | 0.735294          | Not Viable                               |

| 2       | 0.183824          | No Decrease (9.66777 >= 3.28286)         |

| 3       | 0.0459559         | 0.939899                                 |

| 4       | 0.0229779         | 1.36971                                  |

| 5       | 0.011489          | 1.58958                                  |

| 6       | 0.00574449        | 1.84075                                  |

+---------+-------------------+------------------------------------------+

| Final   | 0.0459559         | 0.939899                                 |

+---------+-------------------+------------------------------------------+

Starting Optimization.

+---------+--------------+-------------------+-----------------------+-------------+

| Iter.   | Elapsed Time | Approx. Objective | Approx. Training RMSE | Step Size   |

+---------+--------------+-------------------+-----------------------+-------------+

| Initial | 0us          | 3.28286           | 1.29362               |             |

+---------+--------------+-------------------+-----------------------+-------------+

| 1       | 24.934ms     | 2.05759           | 0.876305              | 0.0459559   |

| 2       | 33.911ms     | 1.52782           | 0.68174               | 0.0459559   |

| 3       | 41.889ms     | 1.25602           | 0.582181              | 0.0459559   |

| 4       | 51.863ms     | 1.11183           | 0.525486              | 0.0459559   |

| 5       | 63.831ms     | 0.988677          | 0.477272              | 0.0459559   |

| 6       | 130.651ms    | 0.879921          | 0.469117              | 0.0459559   |

| 11      | 177.525ms    | 0.561068          | 0.352071              | 0.0459559   |

+---------+--------------+-------------------+-----------------------+-------------+

Optimization Complete: Maximum number of passes through the data reached.

Computing final objective value and training RMSE.

       Final objective value: 0.229293

       Final training RMSE: 0.218354

In [8]:
results=rankfactmodel.recommend(users=range(1,6),k=5)
results.print_rows(num_rows=25)

+--------+-----------+---------------+------+
| userID | CompanyID |     score     | rank |
+--------+-----------+---------------+------+
|   1    |   CID04   | 3.73271708463 |  1   |
|   1    |   CID08   | 3.68296257399 |  2   |
|   1    |   CID02   | 3.51639933504 |  3   |
|   1    |   CID07   | 3.51227140047 |  4   |
|   1    |   CID05   | 3.45327680923 |  5   |
|   2    |   CID04   | 3.73271708463 |  1   |
|   2    |   CID08   | 3.68296257399 |  2   |
|   2    |   CID02   | 3.51639933504 |  3   |
|   2    |   CID07   | 3.51227140047 |  4   |
|   2    |   CID05   | 3.45327680923 |  5   |
|   3    |   CID04   | 3.73271708463 |  1   |
|   3    |   CID08   | 3.68296257399 |  2   |
|   3    |   CID02   | 3.51639933504 |  3   |
|   3    |   CID07   | 3.51227140047 |  4   |
|   3    |   CID05   | 3.45327680923 |  5   |
|   4    |   CID04   | 3.73271708463 |  1   |
|   4    |   CID08   | 3.68296257399 |  2   |
|   4    |   CID02   | 3.51639933504 |  3   |
|   4    |   CID07   | 3.51227140047 |  4   |
|   4    |   CID05   | 3.45327680923 |  5   |
|   5    |   CID04   | 3.73271708463 |  1   |
|   5    |   CID08   | 3.68296257399 |  2   |
|   5    |   CID02   | 3.51639933504 |  3   |
|   5    |   CID07   | 3.51227140047 |  4   |
|   5    |   CID05   | 3.45327680923 |  5   |
+--------+-----------+---------------+------+
[25 rows x 4 columns]

In [12]:
new_user_info=gl.SFrame({'userID' :['UID1000'], 'Coding skills' :['1'], 'Social skills' :['1'], 'Language skills' :['1'],
                        'program development' :['1'], 'FrontEnd development' :['1'], 'BackEnd Development' :['1'],
                        'Fullstack' :['1'], 'Mobile Development' :['1'], 'Web Development' :['0'], 'UI/UX' :['1'],
                        'Good' :['0'], 'Average' :['1'], 'Bad' :['0'], 'salary' :['10 000'],'degree' :['DID01']})

In [13]:
recommendations = rankfactmodel.recommend(['UID1000'],
                                        new_user_data = new_user_info , k=5)

In [14]:
recommendations.print_rows(num_rows=25)

+---------+-----------+---------------+------+
|  userID | CompanyID |     score     | rank |
+---------+-----------+---------------+------+
| UID1000 |   CID07   | 11.1220114995 |  1   |
| UID1000 |   CID02   | 11.0272815023 |  2   |
| UID1000 |   CID05   | 10.9907223005 |  3   |
| UID1000 |   CID06   | 10.5616232175 |  4   |
| UID1000 |   CID19   | 10.1408810634 |  5   |
+---------+-----------+---------------+------+
[5 rows x 4 columns]

In [13]:
new_user_info=gl.SFrame({'userID' :['UID968'], 'Coding skills' :['0'], 'Social skills' :['1'], 'Language skills' :['0'],
                        'program development' :['1'], 'FrontEnd development' :['1'], 'BackEnd Development' :['1'],
                        'Fullstack' :['1'], 'Mobile Development' :['1'], 'Web Development' :['0'], 'UI/UX' :['1'],
                        'Good' :['0'], 'Average' :['1'], 'Bad' :['0'], 'salary' :['20 000']})

In [14]:
recommendations2 = rankfactmodel.recommend(['UID968'],
                                        new_user_data = new_user_info , k=5)

In [15]:
recommendations2.print_rows(num_rows=25)

+--------+-----------+---------------+------+
| userID | CompanyID |     score     | rank |
+--------+-----------+---------------+------+
| UID968 |   CID07   | 8.99933706745 |  1   |
| UID968 |   CID19   | 8.05681902691 |  2   |
| UID968 |   CID06   | 6.48919675275 |  3   |
| UID968 |   CID05   | 6.19883158578 |  4   |
| UID968 |   CID15   | 6.08092323466 |  5   |
+--------+-----------+---------------+------+
[5 rows x 4 columns]

In [16]:
new_user_info=gl.SFrame({'userID' :['UID969'], 'Coding skills' :['1'], 'Social skills' :['1'], 'Language skills' :['0'],
                        'program development' :['0'], 'FrontEnd development' :['0'], 'BackEnd Development' :['0'],
                        'Fullstack' :['0'], 'Mobile Development' :['0'], 'Web Development' :['0'], 'UI/UX' :['0'],
                        'Good' :['0'], 'Average' :['1'], 'Bad' :['0'], 'salary' :['15 000']})

In [17]:
recommendations1 = rankfactmodel.recommend(['UID969'],
                                        new_user_data = new_user_info , k=5)

In [18]:
recommendations1.print_rows(num_rows=25)

+--------+-----------+---------------+------+
| userID | CompanyID |     score     | rank |
+--------+-----------+---------------+------+
| UID969 |   CID14   | 3.48950434834 |  1   |
| UID969 |   CID19   | 3.25975392907 |  2   |
| UID969 |   CID03   | 3.19521882492 |  3   |
| UID969 |   CID18   | 2.86792987873 |  4   |
| UID969 |   CID09   | 2.79413975085 |  5   |
+--------+-----------+---------------+------+
[5 rows x 4 columns]

In [23]:
new_user_info=gl.SFrame({'userID' :['UID967'], 'Coding skills' :['1'], 'Social skills' :['1'], 'Language skills' :['0'],
                        'program development' :['1'], 'FrontEnd development' :['1'], 'BackEnd Development' :['0'],
                        'Fullstack' :['1'], 'Mobile Development' :['1'], 'Web Development' :['0'], 'UI/UX' :['1'],
                        'Good' :['0'], 'Average' :['1'], 'Bad' :['0'], 'salary' :['20 000']})

In [24]:
recommendations = rankfactmodel.recommend(['UID967'],
                                        new_user_data = new_user_info , k=5)

In [25]:
recommendations.print_rows(num_rows=25)

+--------+-----------+---------------+------+
| userID | CompanyID |     score     | rank |
+--------+-----------+---------------+------+
| UID967 |   CID07   |  11.51700394  |  1   |
| UID967 |   CID19   | 11.2686666712 |  2   |
| UID967 |   CID14   | 9.53755059986 |  3   |
| UID967 |   CID06   | 9.08971134721 |  4   |
| UID967 |   CID05   | 8.82444296925 |  5   |
+--------+-----------+---------------+------+
[5 rows x 4 columns]

In [26]:
new_user_info=gl.SFrame({'userID' :['UID966'], 'Coding skills' :['1'], 'Social skills' :['1'], 'Language skills' :['1'],
                        'program development' :['1'], 'FrontEnd development' :['0'], 'BackEnd Development' :['0'],
                        'Fullstack' :['1'], 'Mobile Development' :['1'], 'Web Development' :['0'], 'UI/UX' :['1'],
                        'Good' :['0'], 'Average' :['1'], 'Bad' :['0'], 'salary' :['15 000']})

In [27]:
recommendations = rankfactmodel.recommend(['UID966'],
                                        new_user_data = new_user_info , k=5)

In [28]:
recommendations.print_rows(num_rows=25)

+--------+-----------+---------------+------+
| userID | CompanyID |     score     | rank |
+--------+-----------+---------------+------+
| UID966 |   CID19   | 13.1805713341 |  1   |
| UID966 |   CID07   | 12.3790769517 |  2   |
| UID966 |   CID14   | 11.5354209706 |  3   |
| UID966 |   CID18   | 11.2520215601 |  4   |
| UID966 |   CID09   | 11.0017690077 |  5   |
+--------+-----------+---------------+------+
[5 rows x 4 columns]

In [15]:
rankfactmodel.save("Ranking Factorization Recommender-final")