In [5]:
import graphlab as gl

import pandas as pd

In [7]:
# reading user data:
user_cols = ['userID', 'Coding skills', 'Social skills', 'Language skills', 'program development',
             'FrontEnd development', 'BackEnd Development', 'Fullstack', 'Mobile Development', 'Web Development',
             'UI/UX', 'Good', 'Average', 'Bad', 'salary','degree']

users = pd.read_csv('Users.csv', sep=',', names=user_cols, encoding='latin-1')

In [3]:
print users.shape
users.head()

(964, 16)

,userID,Coding skills,Social skills,Language skills,program development,FrontEnd development,BackEnd Development,Fullstack,Mobile Development,Web Development,UI/UX,Good,Average,Bad,salary,degree
0,UID01,1,1,0,0,0,0,0,0,0,1,0,1,0,15 000,DID01
1,UID02,0,1,0,0,0,0,0,1,0,0,1,0,0,15 000,DID01
2,UID03,1,0,0,0,0,0,0,0,0,0,1,0,0,30 000,DID02
3,UID04,1,0,0,1,0,0,0,1,1,0,1,0,0,30 000,DID01
4,UID05,1,0,0,0,0,0,0,0,0,0,0,1,0,10 000,DID02

In [8]:
# reading the ratings data:
rating_cols=['userID','CompanyID','rating']
ratings=pd.read_csv('ratings.csv',sep=',', names=rating_cols, encoding='latin-1')

print ratings.shape
ratings.head()

(769, 3)

  userID CompanyID  rating
0  UID01     CID01       3
1  UID02     CID01       4
2  UID03     CID04       4
3  UID04     CID04       4
4  UID05     CID01       3

In [9]:
user_side_data=gl.SFrame(users)

This non-commercial license of GraphLab Create for academic use is assigned to w1673749@my.westminster.ac.uk and will expire on March 15, 2021.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\JANITH\AppData\Local\Temp\graphlab_server_1587539720.log.0

In [10]:
train_data=gl.SFrame(ratings)

In [11]:
rankfactmodel=gl.recommender.ranking_factorization_recommender.create(train_data, user_id='userID', item_id='CompanyID', target='rating', user_data=user_side_data)

Recsys training: model = ranking_factorization_recommender

Preparing data set.

    Data has 769 observations with 964 users and 17 items.

    Data prepared in: 0.036899s

Training ranking_factorization_recommender for recommendations.

+--------------------------------+--------------------------------------------------+----------+

| Parameter                      | Description                                      | Value    |

+--------------------------------+--------------------------------------------------+----------+

| num_factors                    | Factor Dimension                                 | 32       |

| regularization                 | L2 Regularization on Factors                     | 1e-009   |

| solver                         | Solver used for training                         | adagrad  |

| linear_regularization          | L2 Regularization on Linear Coefficients         | 1e-009   |

| ranking_regularization         | Rank-based Regularization Weight                 | 0.25     |

| side_data_factorization        | Assign Factors for Side Data                     | True     |

| max_iterations                 | Maximum Number of Iterations                     | 25       |

+--------------------------------+--------------------------------------------------+----------+

  Optimizing model using SGD; tuning step size.

  Using 769 / 769 points for tuning the step size.

+---------+-------------------+------------------------------------------+

| Attempt | Initial Step Size | Estimated Objective Value                |

+---------+-------------------+------------------------------------------+

| 0       | 2.94118           | Not Viable                               |

| 1       | 0.735294          | Not Viable                               |

| 2       | 0.183824          | 0.695522                                 |

| 3       | 0.0919118         | 0.603143                                 |

| 4       | 0.0459559         | 0.973488                                 |

| 5       | 0.0229779         | 1.23945                                  |

+---------+-------------------+------------------------------------------+

| Final   | 0.0919118         | 0.603143                                 |

+---------+-------------------+------------------------------------------+

Starting Optimization.

+---------+--------------+-------------------+-----------------------+-------------+

| Iter.   | Elapsed Time | Approx. Objective | Approx. Training RMSE | Step Size   |

+---------+--------------+-------------------+-----------------------+-------------+

| Initial | 0us          | 3.28311           | 1.29365               |             |

+---------+--------------+-------------------+-----------------------+-------------+

| 1       | 19.949ms     | 2.19783           | 0.940506              | 0.0919118   |

| 2       | 40.89ms      | 1.38633           | 0.669489              | 0.0919118   |

| 3       | 48.868ms     | 1.00521           | 0.546034              | 0.0919118   |

| 4       | 53.854ms     | 0.767219          | 0.443616              | 0.0919118   |

| 5       | 58.841ms     | 0.6181            | 0.415313              | 0.0919118   |

| 6       | 65.824ms     | 0.4759            | 0.356706              | 0.0919118   |

| 11      | 100.729ms    | 0.193411          | 0.21895               | 0.0919118   |

+---------+--------------+-------------------+-----------------------+-------------+

Optimization Complete: Maximum number of passes through the data reached.

Computing final objective value and training RMSE.

       Final objective value: 0.0402662

       Final training RMSE: 0.138791

In [11]:
rankfactmodel['coefficients']

{'CompanyID': Columns:
 	CompanyID	str
 	linear_terms	float
 	factors	array

 Rows: 17

 Data:
 +-----------+-----------------+-------------------------------+
 | CompanyID |   linear_terms  |            factors            |
 +-----------+-----------------+-------------------------------+
 |   CID01   | -0.420650660992 | [0.333953022957, 0.4333461... |
 |   CID04   | -0.203200519085 | [0.396175175905, -0.035577... |
 |   CID11   | -0.826834142208 | [0.153631746769, 0.0800811... |
 |   CID10   | -0.682351052761 | [0.427458137274, 0.1037192... |
 |   CID18   | -0.735562741756 | [0.12422093749, 0.49120646... |
 |   CID02   | -0.391872465611 | [-0.208319753408, 0.296892... |
 |   CID16   | -0.618113219738 | [-0.533556818962, 0.782376... |
 |   CID12   | -0.713038265705 | [-0.118499487638, 0.201350... |
 |   CID14   | -0.491265624762 | [-0.147301346064, 0.525792... |
 |   CID05   | -0.226206764579 | [-0.102812923491, 0.275244... |
 +-----------+-----------------+-------------------------------+
 [17 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'intercept': 3.7204161248374517,
 'side_data': Columns:
 	feature	str
 	index	str
 	linear_terms	float
 	factors	array

 Rows: 32

 Data:
 +----------------------+-------+-------------------+
 |       feature        | index |    linear_terms   |
 +----------------------+-------+-------------------+
 |    Coding skills     |   0   |  -0.165751665831  |
 |    Social skills     |   0   |  -0.0375963747501 |
 |   Language skills    |   0   |  -0.101163208485  |
 | program development  |   0   | -0.00354373827577 |
 | FrontEnd development |   0   |  0.0949972718954  |
 | BackEnd Development  |   0   |   0.130233317614  |
 |      Fullstack       |   0   |  0.0819708183408  |
 |  Mobile Development  |   0   |  0.0928685367107  |
 |   Web Development    |   0   |  -0.0769703760743 |
 |        UI/UX         |   0   |   0.18835888803   |
 +----------------------+-------+-------------------+
 +-------------------------------+
 |            factors            |
 +-------------------------------+
 | [0.0444616526365, 0.073240... |
 | [0.038901142776, 0.0905263... |
 | [0.0277610253543, 0.113051... |
 | [0.0852175578475, 0.132282... |
 | [0.0596217140555, 0.103675... |
 | [0.0747672095895, 0.132618... |
 | [0.0863417387009, 0.125028... |
 | [0.102554939687, 0.1100788... |
 | [0.11820115149, 0.19934609... |
 | [0.0540544204414, 0.086272... |
 +-------------------------------+
 [32 rows x 4 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'userID': Columns:
 	userID	str
 	linear_terms	float
 	factors	array

 Rows: 964

 Data:
 +--------+------------------+-------------------------------+
 | userID |   linear_terms   |            factors            |
 +--------+------------------+-------------------------------+
 | UID01  | 0.0342669300735  | [0.0426073037088, 0.081029... |
 | UID02  | 0.0981281101704  | [0.148056417704, 0.3094071... |
 | UID03  | -0.148507013917  | [0.107494339347, 0.0935659... |
 | UID04  | -0.0311285294592 | [-0.159269109368, -0.03707... |
 | UID05  |  0.118187725544  | [0.0120416199788, 0.273552... |
 | UID06  | 0.0769576355815  | [-0.0153224486858, 0.04349... |
 | UID07  | 0.00467911083251 | [0.197453260422, -0.144645... |
 | UID08  | -0.244962289929  | [0.0418028794229, 0.090335... |
 | UID09  | 0.0373029448092  | [-0.0323391035199, 0.23379... |
 | UID10  | -0.194104492664  | [-0.0310300048441, 0.11970... |
 +--------+------------------+-------------------------------+
 [964 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.}

In [13]:
rankfactmodel['user_side_data_column_names']

['userID',
 'Coding skills',
 'Social skills',
 'Language skills',
 'program development',
 'FrontEnd development',
 'BackEnd Development',
 'Fullstack',
 'Mobile Development',
 'Web Development',
 'UI/UX',
 'Good',
 'Average',
 'Bad',
 'salary',
 'degree']

In [14]:
rankfactmodel.get_current_options()

{'adagrad_momentum_weighting': 0.9,
 'additional_iterations_if_unhealthy': 5L,
 'binary_target': 0L,
 'ials_confidence_scaling_factor': 1L,
 'ials_confidence_scaling_type': 'auto',
 'init_random_sigma': 0.01,
 'item_id': 'CompanyID',
 'linear_regularization': 1e-09,
 'max_iterations': 25L,
 'nmf': 0L,
 'num_factors': 32L,
 'num_sampled_negative_examples': 4L,
 'num_tempering_iterations': 4L,
 'random_seed': 0L,
 'ranking_regularization': 0.25,
 'regularization': 1e-09,
 'regularization_type': 'normal',
 'sgd_convergence_interval': 4L,
 'sgd_convergence_threshold': 1e-05,
 'sgd_max_trial_iterations': 5L,
 'sgd_sampling_block_size': 131072L,
 'sgd_step_adjustment_interval': 4L,
 'sgd_step_size': 0.0,
 'sgd_trial_sample_minimum_size': 10000L,
 'sgd_trial_sample_proportion': 0.125,
 'side_data_factorization': 1L,
 'solver': 'auto',
 'step_size_decrease_rate': 0.75,
 'target': 'rating',
 'tempering_regularization_start_value': 1e-08,
 'track_exact_loss': 0L,
 'unobserved_rating_value': -1.7976931348623157e+308,
 'user_id': 'userID'}

In [12]:
ratingstestdata=pd.read_csv('ratingstest.csv',sep=',', names=rating_cols, encoding='latin-1')

In [13]:
print ratingstestdata.shape
ratingstestdata.head()

(195, 3)

   userID CompanyID  rating
0  UID770     CID02       5
1  UID771     CID02       5
2  UID772     CID02       5
3  UID773     CID02       5
4  UID774     CID02       5

In [14]:
test_data=gl.SFrame(ratingstestdata)

In [15]:
eval=rankfactmodel.evaluate(dataset=test_data, target='rating')

Precision and recall summary statistics by cutoff
+--------+-----------------+----------------+
| cutoff |  mean_precision |  mean_recall   |
+--------+-----------------+----------------+
|   1    |  0.102564102564 | 0.102564102564 |
|   2    | 0.0564102564103 | 0.112820512821 |
|   3    | 0.0495726495726 | 0.148717948718 |
|   4    | 0.0628205128205 | 0.251282051282 |
|   5    | 0.0738461538462 | 0.369230769231 |
|   6    | 0.0760683760684 | 0.45641025641  |
|   7    | 0.0820512820513 | 0.574358974359 |
|   8    | 0.0788461538462 | 0.630769230769 |
|   9    | 0.0735042735043 | 0.661538461538 |
|   10   | 0.0666666666667 | 0.666666666667 |
+--------+-----------------+----------------+
[10 rows x 3 columns]

('\nOverall RMSE: ', 3.102572667290038)

Per User RMSE (best)
+--------+-------+-----------------+
| userID | count |       rmse      |
+--------+-------+-----------------+
| UID772 |   1   | 0.0235387213219 |
+--------+-------+-----------------+
[1 rows x 3 columns]


Per User RMSE (worst)
+--------+-------+---------------+
| userID | count |      rmse     |
+--------+-------+---------------+
| UID837 |   1   | 4.92385834926 |
+--------+-------+---------------+
[1 rows x 3 columns]


Per Item RMSE (best)
+-----------+-------+---------------+
| CompanyID | count |      rmse     |
+-----------+-------+---------------+
|   CID13   |   11  | 1.79243622824 |
+-----------+-------+---------------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-----------+-------+---------------+
| CompanyID | count |      rmse     |
+-----------+-------+---------------+
|   CID02   |   90  | 3.79062853748 |
+-----------+-------+---------------+
[1 rows x 3 columns]

In [16]:
results=rankfactmodel.predict(dataset=test_data)

In [17]:
print results

[5.232604364727701, 3.9707812138035994, 4.976461278678068, 3.970847398477014, 4.976278566816797, 4.607851044343585, 3.182302984126687, 3.790370797850807, 0.5338258443257984, 0.5341658473558311, 0.5338832103043898, 0.5339097990368429, 0.24576502869609262, 0.2454573993100495, 0.9329996763804558, -0.3812295729480355, 0.9327482842523351, 0.9325178600679975, 0.9329948701447903, 0.2456694998725708, 0.3118826110035626, 0.3115401192713363, 1.483087302752716, 0.31212486400459616, 0.840417879262128, 0.2583294973192607, 0.5346552738679349, 1.0020517735061332, 1.3702660357835668, 0.5344738630197354, 0.2588330469257527, 1.3705345080157314, 0.2585676484155157, 0.26761891904566815, 1.3700184069162389, 0.2583030772614676, 0.5343797070259426, 1.001815846353162, 0.2584444488252813, 1.0022087156838153, 1.804663550364745, 1.0255008904055614, -0.38118744284333284, 1.8053578846607308, 1.1666010005966814, 0.3122533896508286, 2.4296679986687706, 0.31184644844284426, 1.166249818791408, 0.9330533434347728, -0.3803412776582662, 1.1662134836638471, 1.4827365715059897, 0.5348013440757824, 1.3703543612896794, 0.25858183423729875, 1.0023096963300815, 0.5342716389691815, 0.25777191368575236, 0.4486982826536461, 0.5346803393563788, 0.14026580094246688, 0.14058141782475664, 0.6871845305418502, 0.6865689906626868, 0.14100895577262795, 0.14078418836157303, 0.07614165074260759, 0.39102539714945683, 0.3077742039509359, 0.2581375741552221, 1.370289028262556, 1.3703146878975132, 0.24534438866208452, 0.24580366966943634, 2.4292472022239564, -0.1430152478889739, 1.8052335970601745, 0.36637527763974154, 1.8056177600115517, 0.24557560989301797, 1.4832770477256019, 1.1660057410770661, 0.311489428753299, 1.1659462951607167, -0.14347814082470345, 1.002114925074744, 1.0023445048823816, 2.9211731237879177, 2.928292562009625, 0.725631365287478, 3.2397838962129355, 3.239343155655257, 2.9238454906313165, 3.2390987521005683, 2.923791123508232, 2.9207376298086785, 2.7942733051455035, 3.7346630138886727, 3.1700406419282046, ... ]

In [18]:
userstestdata= pd.read_csv('usersidedata.csv', sep=',', names=user_cols, encoding='latin-1')

In [19]:
print userstestdata.shape
userstestdata.head()

(195, 16)

,userID,Coding skills,Social skills,Language skills,program development,FrontEnd development,BackEnd Development,Fullstack,Mobile Development,Web Development,UI/UX,Good,Average,Bad,salary,degree
0,UID770,1,1,1,0,0,0,0,1,1,0,1,0,0,12 000,DID01
1,UID771,0,0,0,1,0,0,1,0,0,0,1,0,0,12 000,DID01
2,UID772,1,1,1,0,0,0,1,0,0,0,1,0,0,12 000,DID01
3,UID773,0,0,0,1,0,0,1,0,0,0,1,0,0,12 000,DID01
4,UID774,1,1,1,0,0,0,1,0,0,0,1,0,0,12 000,DID01

In [20]:
user_side_datatest=gl.SFrame(userstestdata)

In [23]:
results=rankfactmodel.predict(dataset=test_data, new_user_data=user_side_datatest)

In [24]:
print results

[5.232604364727701, 3.9707812138035994, 4.976461278678068, 3.970847398477014, 4.976278566816797, 4.607851044343585, 3.182302984126687, 3.790370797850807, 0.5338258443257984, 0.5341658473558311, 0.5338832103043898, 0.5339097990368429, 0.24576502869609262, 0.2454573993100495, 0.9329996763804558, -0.3812295729480355, 0.9327482842523351, 0.9325178600679975, 0.9329948701447903, 0.2456694998725708, 0.3118826110035626, 0.3115401192713363, 1.483087302752716, 0.31212486400459616, 0.840417879262128, 0.2583294973192607, 0.5346552738679349, 1.0020517735061332, 1.3702660357835668, 0.5344738630197354, 0.2588330469257527, 1.3705345080157314, 0.2585676484155157, 0.26761891904566815, 1.3700184069162389, 0.2583030772614676, 0.5343797070259426, 1.001815846353162, 0.2584444488252813, 1.0022087156838153, 1.804663550364745, 1.0255008904055614, -0.38118744284333284, 1.8053578846607308, 1.1666010005966814, 0.3122533896508286, 2.4296679986687706, 0.31184644844284426, 1.166249818791408, 0.9330533434347728, -0.3803412776582662, 1.1662134836638471, 1.4827365715059897, 0.5348013440757824, 1.3703543612896794, 0.25858183423729875, 1.0023096963300815, 0.5342716389691815, 0.25777191368575236, 0.4486982826536461, 0.5346803393563788, 0.14026580094246688, 0.14058141782475664, 0.6871845305418502, 0.6865689906626868, 0.14100895577262795, 0.14078418836157303, 0.07614165074260759, 0.39102539714945683, 0.3077742039509359, 0.2581375741552221, 1.370289028262556, 1.3703146878975132, 0.24534438866208452, 0.24580366966943634, 2.4292472022239564, -0.1430152478889739, 1.8052335970601745, 0.36637527763974154, 1.8056177600115517, 0.24557560989301797, 1.4832770477256019, 1.1660057410770661, 0.311489428753299, 1.1659462951607167, -0.14347814082470345, 1.002114925074744, 1.0023445048823816, 2.9211731237879177, 2.928292562009625, 0.725631365287478, 3.2397838962129355, 3.239343155655257, 2.9238454906313165, 3.2390987521005683, 2.923791123508232, 2.9207376298086785, 2.7942733051455035, 3.7346630138886727, 3.1700406419282046, ... ]

In [25]:
ratingsonly=gl.SArray('ratingsonly.csv', dtype=int)

Finished parsing file B:\STUDIES\IIT\SDGP\Project\JobStack\recommender-jobstack\ratingsonly.csv

Parsing completed. Parsed 195 lines in 0.02693 secs.

In [26]:
predictions=gl.SArray(results, dtype=int)

In [27]:
print predictions

[5.232604364727701, 3.9707812138035994, 4.976461278678068, 3.970847398477014, 4.976278566816797, 4.607851044343585, 3.182302984126687, 3.790370797850807, 0.5338258443257984, 0.5341658473558311, 0.5338832103043898, 0.5339097990368429, 0.24576502869609262, 0.2454573993100495, 0.9329996763804558, -0.3812295729480355, 0.9327482842523351, 0.9325178600679975, 0.9329948701447903, 0.2456694998725708, 0.3118826110035626, 0.3115401192713363, 1.483087302752716, 0.31212486400459616, 0.840417879262128, 0.2583294973192607, 0.5346552738679349, 1.0020517735061332, 1.3702660357835668, 0.5344738630197354, 0.2588330469257527, 1.3705345080157314, 0.2585676484155157, 0.26761891904566815, 1.3700184069162389, 0.2583030772614676, 0.5343797070259426, 1.001815846353162, 0.2584444488252813, 1.0022087156838153, 1.804663550364745, 1.0255008904055614, -0.38118744284333284, 1.8053578846607308, 1.1666010005966814, 0.3122533896508286, 2.4296679986687706, 0.31184644844284426, 1.166249818791408, 0.9330533434347728, -0.3803412776582662, 1.1662134836638471, 1.4827365715059897, 0.5348013440757824, 1.3703543612896794, 0.25858183423729875, 1.0023096963300815, 0.5342716389691815, 0.25777191368575236, 0.4486982826536461, 0.5346803393563788, 0.14026580094246688, 0.14058141782475664, 0.6871845305418502, 0.6865689906626868, 0.14100895577262795, 0.14078418836157303, 0.07614165074260759, 0.39102539714945683, 0.3077742039509359, 0.2581375741552221, 1.370289028262556, 1.3703146878975132, 0.24534438866208452, 0.24580366966943634, 2.4292472022239564, -0.1430152478889739, 1.8052335970601745, 0.36637527763974154, 1.8056177600115517, 0.24557560989301797, 1.4832770477256019, 1.1660057410770661, 0.311489428753299, 1.1659462951607167, -0.14347814082470345, 1.002114925074744, 1.0023445048823816, 2.9211731237879177, 2.928292562009625, 0.725631365287478, 3.2397838962129355, 3.239343155655257, 2.9238454906313165, 3.2390987521005683, 2.923791123508232, 2.9207376298086785, 2.7942733051455035, 3.7346630138886727, 3.1700406419282046, ... ]

In [28]:
predict=results.astype(int)

In [29]:
print predict

[5L, 3L, 4L, 3L, 4L, 4L, 3L, 3L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 1L, 1L, 0L, 0L, 1L, 0L, 0L, 1L, 0L, 0L, 1L, 0L, 1L, 1L, 1L, 0L, 1L, 1L, 0L, 2L, 0L, 1L, 0L, 0L, 1L, 1L, 0L, 1L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 1L, 0L, 0L, 2L, 0L, 1L, 0L, 1L, 0L, 1L, 1L, 0L, 1L, 0L, 1L, 1L, 2L, 2L, 0L, 3L, 3L, 2L, 3L, 2L, 2L, 2L, 3L, 3L, ... ]

In [30]:
gl.evaluation.accuracy(targets=ratingsonly, predictions=predict,average=None)

{0L: 0.6717948717948717,
 1L: 0.558974358974359,
 2L: 0.7794871794871795,
 3L: 0.8666666666666667,
 4L: 0.7589743589743589,
 5L: 0.4256410256410256}

In [31]:
gl.evaluation.accuracy(targets=ratingsonly, predictions=predict,average='micro')

0.03076923076923077

In [32]:
gl.evaluation.accuracy(targets=ratingsonly, predictions=predict,average='macro')

0.6769230769230768

In [33]:
gl.evaluation.max_error(targets=ratingsonly, predictions=predict)

5.0

In [34]:
gl.evaluation.rmse(ratingsonly, predict)

3.4700181038469586

In [40]:
new_user_info=gl.SFrame({'userID' :['UID967'], 'Coding skills' :['1'], 'Social skills' :['1'], 'Language skills' :['0'],
                        'program development' :['1'], 'FrontEnd development' :['1'], 'BackEnd Development' :['0'],
                        'Fullstack' :['1'], 'Mobile Development' :['1'], 'Web Development' :['0'], 'UI/UX' :['1'],
                        'Good' :['0'], 'Average' :['1'], 'Bad' :['0'], 'salary' :['20 000'], 'degree' :['DID01']})

In [42]:
recommendations = rankfactmodel.recommend(['UID1000'],
                                        new_user_data = new_user_info , k=5)
recommendations.print_rows(num_rows=25)

+---------+-----------+---------------+------+
|  userID | CompanyID |     score     | rank |
+---------+-----------+---------------+------+
| UID1000 |   CID04   | 3.77194917195 |  1   |
| UID1000 |   CID03   | 3.72041612484 |  2   |
| UID1000 |   CID13   | 3.72041612484 |  3   |
| UID1000 |   CID07   | 3.64484262832 |  4   |
| UID1000 |   CID08   | 3.55077285685 |  5   |
+---------+-----------+---------------+------+
[5 rows x 4 columns]